---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Homepage Turbo Devopsick" description=" Hackaton Chalenge Waiting4me ">
	<h1>Hi there, this is my Hackaton Starter with Turborepo and Bun</h1>
</Layout>
